<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Xenon</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>
  <div class="main-content" id="createCliente">

    <div class="container mt-4">
      <ul class="nav nav-tabs nav-justified" id="acordeonPestanas">
        <li class="nav-item">
          <a class="nav-link active" id="pestana1-tab" data-toggle="tab" href="#pestana1">Pestana 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pestana2-tab" data-toggle="tab" href="#pestana2">Pestana 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pestana3-tab" data-toggle="tab" href="#pestana3">Pestana 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pestana4-tab" data-toggle="tab" href="#pestana4">Pestana 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pestana5-tab" data-toggle="tab" href="#pestana5">Pestana 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pestana6-tab" data-toggle="tab" href="#pestana6">Pestana 6</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pestana7-tab" data-toggle="tab" href="#pestana7">Pestana 7</a>
        </li>
      </ul>

      <div class="tab-content mt-2">
        <div class="tab-pane fade show active" id="pestana1">
          <div class="datosgenerales">
            <!-- <div class="row">
                <div class="col-md-7">
                  <div class="form-group">

                    <div class="form-group">
                      <label for="cliente[sunatidentidad_id]" class="col-sm-3 control-label ali-letra">Documento
                        <span>(*)</span></label>
                      <div class="col-sm-4">
                        <select id="tipodocumento" name="tipodocumento" class="form-control"
                          v-model="cliente.tipodocumento" data-validate="required" title="Seleccione Documento">
                          <option value="" disabled selected>--- Seleccionar Tipo de Documento</option>
                          <?php foreach ($listTipoDocumentos as $tipoDocumento) : ?>
                          <option value="<?= $tipoDocumento->id ?>">
                            <?= $tipoDocumento->descripcion ?>
                          </option>
                          <?php endforeach; ?>
                        </select>
                      </div>

                      <?php $idperfil = array(1, 5, 8);
                      if (in_array(Auth::get('perfil_id'), $idperfil)) { ?>
                      <div class="col-sm-1 checkbox-inline">
                        <input type="checkbox" data-toggle="tooltip" title="" data-original-title="Habilita datos"
                          id="ckdatos" value="ver" style="width: 18px;">
                      </div>
                      <?php  } ?>

                      <div class="form-group">
                        <label>
                          <input type="checkbox" v-model="habilitarCampos"> Habilitar Campos
                        </label>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="cliente[nrodocidentidad]" class="col-sm-1 control-label ali-letra">Nr°
                        Documento</label>
                      <div class="col-sm-2">
                        <?php echo Form::text('cliente.nrodocidentidad', 'class="form-control color-caja" v-model="nrodocumento"  onkeypress="return SoloNumeros(event)"     placeholder="Nr° Documento" validate="required"') ?>
                      </div>
                      <div class="col-sm-2">
                        <a class="btn btn-verde" id="searchRuc" @click="buscarDatosxdocumento">buscar</a>
                      </div>
                      <div id="resul" style="display:none">

                        <div class="form-group">
                          <div class="col-sm-4" style="margin-left:67%">
                            <pre id="resultado" style="margin-left:-1%;color:#d8d4d4;border:1px solid"></pre>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

            <div class="seccion seccion1">
              <div class="form-group" v-if="cliente.tipodocumento == 4">
                <label for="razonsocial">razon social <span>(*)</span></label>
                <input type="text" class="form-control" id="razonsocial" placeholder="razonsocial"
                  :disabled="DeshabilitarCampos && !habilitarCampos" v-model="cliente.razonsocial"
                  @input="razonsocial = capitalizeFirstLetter(razonsocial)">
              </div>
              <div class="form-group" v-if="cliente.tipodocumento == 4">
                <label for="nombrecomercial">nombre comercial <span>(*)</span></label>
                <input type="text" class="form-control" id="nombrecomercial" placeholder="nombrecomercial"
                  v-model="cliente.nombrecomercial" @input="nombrecomercial = capitalizeFirstLetter(nombrecomercial)">
              </div>
            </div>

            <div class="seccion seccion2">
              <div class="form-group" v-if="mostrarCampos">
                <label for="nombres">Nombres <span>(*)</span></label>
                <input type="text" class="form-control" id="nombres" placeholder="Nombres"
                  :disabled="DeshabilitarCampos && !habilitarCampos" v-model="cliente.nombres">
              </div>

              <div class="form-group" v-if="mostrarCampos">
                <label for="apaterno">Apellido Paterno <span>(*)</span></label>
                <input type="text" class="form-control" id="apaterno" placeholder="Apellido Paterno"
                  :disabled="DeshabilitarCampos && !habilitarCampos" v-model="cliente.apaterno">
              </div>

              <div class="form-group" v-if="mostrarCampos">
                <label for="amaterno">Apellido Materno <span>(*)</span></label>
                <input type="text" class="form-control" id="amaterno" placeholder="Apellido Materno"
                  :disabled="DeshabilitarCampos && !habilitarCampos" v-model="cliente.amaterno">
              </div>

              <div class="form-group">
                <label for="nacionalidad">Nacionalidad</label>
                <input type="text" class="form-control" id="nacionalidad" placeholder="Nacionalidad">
              </div>
            </div>

            <div class="seccion seccion4">
              <div class="form-group">
                <label for="correofactura">Correo para Facturación <span>(*)</span></label>
                <input type="email" class="form-control" id="correofactura" placeholder="Correo para Facturación"
                  v-model="correofactura" @blur="validateEmail">
              </div>

              <div class="form-group">
                <label for="website">Sitio Web</label>
                <input type="text" class="form-control" id="website" placeholder="Sitio Web">
              </div>

              <div class="form-group">
                <label for="tipoempresa">Tipo de Empresa <span>(*)</span></label>
                <select id="tipoempresa" name="tipoempresa" class="form-control">
                  <option value="" disabled selected>--- Seleccionar tipo de empresa</option>
                  <?php foreach ($listTipoEmpresas as $tipoempresa) : ?>
                  <option value="<?= $tipoempresa->id ?>">
                    <?= $tipoempresa->id ?>.
                    <?= $tipoempresa->sectorempresa_nombre ?> -
                    <?= $tipoempresa->nombre ?>
                  </option>
                  <?php endforeach; ?>
                </select>
              </div>

              <div class="form-group">
                <label for="aniversario">aniversario <span>(*)</span></label>
                <input type="date" class="form-control" id="aniversario" placeholder="aniversario" v-model="aniversario"
                  required>
              </div>

              <div class="form-group">
                <label for="descuento">Descuento</label>
                <input type="text" class="form-control" id="descuento" placeholder="Descuento">
              </div>
            </div>
          </div>
        </div>




        <div class="tab-pane fade" id="pestana2">
          <div class="direcciones">
            
            <div class="seccion seccion1">
              <div class="form-group">
                <label for="">Direccion</label>
                <input class="form-control" placeholder="Ingresar Direccion" v-model="direcciontemporal.direccion">
              </div>

              <div class="form-group">
                <label for="">Referencia</label>
                <input class="form-control" placeholder="Ingresar Referencia" v-model="direcciontemporal.referencia">
              </div>
            </div>

            <div class="seccion seccion2">
              <div class="form-group">
                <label for="">Ubigeo</label>
                <input class="form-control" placeholder="Ingresar Ubigeo" v-model="direcciontemporal.ubigeo">
              </div><br>
              <button class="btn btn-primary mt-1" @click="addDireccion">Agregar Direccion</button>
            </div>

            
<div class="seccion seccion3">
  <button class="btn btn-primary btn-block mb-5" @click="addDireccion">Agregar Direccion</button>
  <table class="table-responsive">
    <thead>
      <tr>
        <th scope="col">DIRECCION</th>
        <th scope="col">REFERENCIA</th>
        <th scope="col">UBIGEO</th>
        <th scope="col">Dejar Factura</th>
        <th scope="col">Dejar Guia</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(direccion, index) in direcciones" :key="index">
        <td v-if="index !== editingIndex">{{ direccion.direccion }}</td>
        <td v-else>
          <input v-model="direccion.direccion">
        </td>

        <td v-if="index !== editingIndex">{{ direccion.referencia }}</td>
        <td v-else>
          <input v-model="direccion.referencia">
        </td>

        <td v-if="index !== editingIndex">{{ direccion.ubigeo }}</td>
        <td v-else>
          <input v-model="direccion.ubigeo">
        </td>

        <td>
          <input type="radio" v-model="direccion.dejarfactura" :value="1" :id="'radio_factura_' + index"
            :name="'radio_factura_' + index" @change="radioChanged(index)">
        <td>
          <input type="checkbox" v-model="direccion.dejarguia" :true-value="1" :false-value="0">
        </td>

        <td>
          <button v-if="index !== editingIndex" class="btn btn-info"
            @click="editDireccion(index)">Editar</button>
          <button v-else class="btn btn-success" @click="saveDireccion(index)">Guardar</button>
          <button class="btn btn-danger" @click="removeDireccion(index)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary btn-block" @click="registrarDireccionCliente">Registrar Direcciones</button>
  
</div>
            
          </div>
        </div>





        <div class="tab-pane fade" id="pestana3">
          <h1>TIPOS DE PAGO</h1>


          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">TIPO DE PAGO</th>
                <th scope="col">Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <?php foreach ($listarTipoPagos as $tipo_pago) : ?>
              <tr>
                <th scope="row">
                  <?= $tipo_pago->id ?>
                </th>
                <td>
                  <?= $tipo_pago->descripcion ?>
                </td>
                <td>
                  <input type="checkbox" v-model="clientetipopago.tipopago_ids" :value="<?= $tipo_pago->id ?>">
                </td>
              </tr>
              <?php endforeach ?>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="pestana4">
          <h2>Contactos</h2>

          <input placeholder="Ingresar DNI" v-model="contactotemporal.dni">
          <input placeholder="Ingresar Nombres" v-model="contactotemporal.nombres">
          <input placeholder="Ingresar Cargo" v-model="contactotemporal.cargo">
          <input placeholder="Ingresar Anexo" v-model="contactotemporal.anexo">
          <input placeholder="Ingresar Teléfono" v-model="contactotemporal.telefono">
          <input placeholder="Ingresar Correo" v-model="contactotemporal.correo">
          <button class="btn btn-primary" @click="addContacto">Agregar Contacto</button>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombres</th>
                <th scope="col">Cargo</th>
                <th scope="col">Anexo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Correo</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(contacto, index) in contactos" :key="index">
                <td v-if="index !== editingIndex">{{ contacto.dni }}</td>
                <td v-else>
                  <input v-model="contacto.dni">
                </td>
                <td v-if="index !== editingIndex">{{ contacto.nombres }}</td>
                <td v-else>
                  <input v-model="contacto.nombres">
                </td>
                <td v-if="index !== editingIndex">{{ contacto.cargo }}</td>
                <td v-else>
                  <input v-model="contacto.cargo">
                </td>
                <td v-if="index !== editingIndex">{{ contacto.anexo }}</td>
                <td v-else>
                  <input v-model="contacto.anexo">
                </td>
                <td v-if="index !== editingIndex">{{ contacto.telefono }}</td>
                <td v-else>
                  <input v-model="contacto.telefono">
                </td>
                <td v-if="index !== editingIndex">{{ contacto.correo }}</td>
                <td v-else>
                  <input v-model="contacto.correo">
                </td>
                <td>
                  <button v-if="index !== editingIndex" class="btn btn-info"
                    @click="editContacto(index)">Editar</button>
                  <button v-else class="btn btn-success" @click="saveContacto(index)">Guardar</button>
                  <button class="btn btn-danger" @click="removeContacto(index)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-primary" @click="registrarContactoCliente">Registrar Contactos</button>
        </div>
        <div class="tab-pane fade" id="pestana5">
          <h1>transporte</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">TIPO DE PAGO</th>
                <th scope="col">Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <?php foreach ($listarTransportes as $transport) : ?>
              <tr>
                <th scope="row">
                  <?= $transport->id ?>
                </th>
                <td>
                  <?= $transport->descripcion ?>
                </td>
                <td>
                  <input type="checkbox" v-model="clientetransporte.transporte_ids" :value="<?= $transport->id ?>">
                </td>
              </tr>
              <?php endforeach ?>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="pestana6">
          <H1>Lineas</H1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">TIPO DE PAGO</th>
                <th scope="col">Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <?php foreach ($listarTipoFamilias as $family) : ?>
              <tr>
                <th scope="row">
                  <?= $family->id ?>
                </th>
                <td>
                  <?= $family->descripcion ?>
                </td>
                <td>
                  <input type="checkbox" v-model="clientefamilia.familia_ids" :value="<?= $family->id ?>">
                </td>
              </tr>
              <?php endforeach ?>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="pestana7">
          <h1>Vendedores</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">VENDEDOR</th>
                <th scope="col">Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <?php foreach ($listarVendedores as $vendedor) : ?>
              <tr>
                <th scope="row">
                  <?= $vendedor->id ?>
                </th>
                <td>
                  <?= $vendedor->vendedor ?>
                </td>
                <td>
                  <input type="radio" v-model="clientevendedor.vendedor_id" :value="<?= $vendedor->id ?>">
                </td>
              </tr>
              <?php endforeach ?>
            </tbody>
          </table>
        </div>
      </div>
    </div>




    <button type="button" class="btn btn-success" @click="registrarVenta">Guardar Todo</button>
  </div>
  </div>
  </div>
  </div>


  <script>

  </script>




  <style>
    .seccion {
      background-color: #fff;
      margin: 20px;
      padding: 20px;
      /* border: 1px solid #000; */
      border-radius: 15px;
    }

    .form-group input {
      padding: 15px 20px;
      background-color: none;
      border-radius: 10px;
      border: 1px solid #84A3FB;
    }

    .form-control {
      color: #666564;
      border-radius: 10px;
      border-color: #84A3FB;
    }

    /* DATOS GENERALES*/
    .datosgenerales {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 40px;
    }

    .seccion1 {
      grid-column: span 2;
      grid-row: span 2;
    }

    .seccion2 {
      grid-column: span 2;
      grid-row: span 3;
    }

    /* DIRECCIONES*/
    .direcciones {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 40px;
    }

    .direcciones .seccion1 {
      grid-column: span 2;
      grid-row: span 2;
    }

    .direcciones .seccion2 {
      grid-column: span 2;
      grid-row: span 2;
    }

    .direcciones .seccion3 {
      grid-column: span 4;
      grid-row: span 4;
    }

    /* .botonRegresar .btn-icon-start i,
    .botonActualizar .btn-icon-start i {
      font-size: 1.5em;
    } */

    /* Estilos específicos para pantallas más pequeñas (menos de 757px) */
    /* @media (max-width: 769px) {
      .btn {
        grid-column: span 2;
        grid-row: span 1;
      }

      .botonRegresar {
        margin-bottom: -20px;
      }
    } */
  </style>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>